* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #25272e;
}
header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #25272e;
  text-align: center;
  font-family: Asap, sans-serif;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 43px;
  padding: 15px 20px 15px 20px;
  font-family: Asap, sans-serif;
  position: relative;
}

.badge {
  background-color: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 4px;
  font-family: Asap, sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Asap, sans-serif;
  font-weight: bold;
}

img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
}
.choices {
  margin: 50px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 0;
  margin: 0 20px;
  background-color: white;
}

.choice:hover {
  cursor: pointer;
}

#action-message {
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b434;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
